{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	{% if 'search' in request.path %}
		<h2 class="title-page">Search Result</h2>
	{% else %}
		<h2 class="title-page">Our Store</h2>
	{% endif %}

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">

<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categories</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">

				<ul class="list-menu">
					<li><a href="{% url 'store' %}">All Products  </a></li>
					{% for category in links %}
						<li><a href="{{ category.get_url }}">{{ category.category_name }}  </a></li>
					{% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->
<!--	<article class="filter-group">-->
<!--		<header class="card-header">-->
<!--			<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">-->
<!--				<i class="icon-control fa fa-chevron-down"></i>-->
<!--				<h6 class="title">Sizes </h6>-->
<!--			</a>-->
<!--		</header>-->
<!--		<div class="filter-content collapse show" id="collapse_4" style="">-->
<!--			<div class="card-body">-->
<!--			  <label class="checkbox-btn">-->
<!--			    <input type="checkbox">-->
<!--			    <span class="btn btn-light"> XS </span>-->
<!--			  </label>-->

<!--			  <label class="checkbox-btn">-->
<!--			    <input type="checkbox">-->
<!--			    <span class="btn btn-light"> SM </span>-->
<!--			  </label>-->

<!--			  <label class="checkbox-btn">-->
<!--			    <input type="checkbox">-->
<!--			    <span class="btn btn-light"> LG </span>-->
<!--			  </label>-->

<!--			  <label class="checkbox-btn">-->
<!--			    <input type="checkbox">-->
<!--			    <span class="btn btn-light"> XXL </span>-->
<!--			  </label>-->
<!--		</div>&lt;!&ndash; card-body.// &ndash;&gt;-->
<!--		</div>-->
<!--	</article> &lt;!&ndash; filter-group .// &ndash;&gt;-->

	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Price range </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_3" style="">
			<div class="card-body">
				<div class="form-row">
					<form method="get" action="{% url 'store' %}">
						<div class="form-group col-md-6">
							<label>Min</label>
							<select name="min_price" class="mr-2 form-control" style="width: 400%;">
								<option value="0" {% if request.GET.min_price == "0" %}selected{% endif %}>$0</option>
								<option value="50" {% if request.GET.min_price == "50" %}selected{% endif %}>$50</option>
								<option value="100" {% if request.GET.min_price == "100" %}selected{% endif %}>$100</option>
								<option value="150" {% if request.GET.min_price == "150" %}selected{% endif %}>$150</option>
								<option value="200" {% if request.GET.min_price == "200" %}selected{% endif %}>$200</option>
								<option value="500" {% if request.GET.min_price == "500" %}selected{% endif %}>$500</option>
								<option value="1000" {% if request.GET.min_price == "1000" %}selected{% endif %}>$1000</option>
							</select>
						</div>
						<div class="form-group text-right col-md-6">
							<label>Max</label>
							<select name="max_price" class="mr-2 form-control" style="width: 400%;">
								<option value="50" {% if request.GET.max_price == "50" %}selected{% endif %}>$50</option>
								<option value="100" {% if request.GET.max_price == "100" %}selected{% endif %}>$100</option>
								<option value="150" {% if request.GET.max_price == "150" %}selected{% endif %}>$150</option>
								<option value="200" {% if request.GET.max_price == "200" %}selected{% endif %}>$200</option>
								<option value="500" {% if request.GET.max_price == "500" %}selected{% endif %}>$500</option>
								<option value="1000" {% if request.GET.max_price == "1000" %}selected{% endif %}>$1000</option>
								<option value="2000" {% if request.GET.max_price == "2000" %}selected{% endif %}>$2000</option>
							</select>
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-block btn-primary">Apply</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</article> <!-- filter-group .// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto"><b>{{ product_count }}</b> Items found </span>

		</div>
</header><!-- sect-heading -->

<div class="row">
	{% if products %}
    {% for product in products %}
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap">

				<a href="{{ product.get_url }}"> <img src="{{ product.images.url}}"></a>

			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{{ product.get_url }}" class="title">{{product.product_name}}</a>
					<div class="price-wrap mt-2">
						<span class="price">$ {{product.price}}</span>
					</div> <!-- price-wrap.// -->
				</div>
				<a href="{{ product.get_url }}" class="btn btn-block btn-primary">View Details </a>
			</figcaption>
		</figure>
	</div> <!-- col.// -->
    {% endfor %}
	{% else %}
	<div>
		<h2>No result found. </h2>
	</div>
	{% endif %}
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
  <ul class="pagination">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
